@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* App.css */
.chat-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.app-header {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.chat-window {
  width: 90%;
  height: 75vh;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 10px 5%;
  overflow-y: scroll;
  background-color: #fff;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .chat-window {
    width: 95%;
    height: 80vh;
    padding: 10px 2.5%;
  }
  
}

.response-window{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-options{
  margin-right: 3vw;
  display: flex;
}



.upload-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.upload-btn {
  color: #000;
  display: flex;
  border: 2px solid #111;
  align-items: center;
  justify-content: space-around;
  width: 10vw;
  padding: 8px 1vw;
  height: 3vh;
  border-radius: 10px;
  cursor: pointer;
}

.uploadedPDF{
  display: flex;
  width: 15vw;
  align-items: center;
  color: #0FA958;
  cursor: pointer;
}

.pdfIcon{
  border: 1px solid #0fa958;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;

}

.pdfName {
  max-width: 10vw; /* Adjust the width as needed */
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .upload-btn {
    width: 10vw;
  }
  
  .uploadedPDF{
    width: 30vw;
  }

  .pdfIcon{
    padding: 5px;
    margin: 0 5px;
  }

  .pdfName {
    max-width: 20vw;
  }
  
  .UploadPDFName{
    display: none;
  }
}

.input-container {
  position: absolute;
  bottom: 5vh;
  background-color: #fff;
  display: flex;
  width: 70vw;
  margin: 10px 15vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 768px) {
  .input-container {
    bottom: 2vh;
  }
  
}

.query-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-right: 8px;
}

.send-btn {
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.send-btn img{
  height: 20px;
  width: 20px;
}

.message {
  display: flex;
  margin: 6vh 5vh;
  align-items: flex-start;
}

.message img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  padding: 0 10px;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .message {
    margin: 3vh 2vh;
  }
  
}

.loader {
  text-align: center;
  font-style: italic;
  color: #888;
}

.navbar{
  height: 10vh;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  width: 100vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.nav-logo{
  margin-left: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-logo img{
  height: 60%;
  margin: 0 5vw;
}